{% set class = "filters-info" %}
<footer class="{{ class }}">
  <h3 class="{{ class }}__title">
    <a href="{{ category_url }}">{{ category_name }}</a><span class="count-circle"></span>
  </h3>

  <ul class="{{ class }}__actions">
    <li class="{{ class }}__action">
      <span class="{{ class }}__button button button--flat button--flat--white modal-trigger" data-modal="deliveryterms"><span>Уточнить условия доставки</span></span>
    </li>

    <li class="{{ class }}__action">
      <a href="/services/dostavka-gsm" class="{{ class }}__button button">Рассчитать доставку</a>
    </li>
  </ul>
</footer>
