<div class="front-wrap">
  <header class="header">
    {{ page.header_top }}
    {{ page.header_bottom }}
  </header>

  {{ drupal_entity('block', 'hero_slider', check_access=false) }}
</div>

<main{{ layout_attributes }}>
  {{ page.top_content }}

  <div class="main-layout__content">
    {{ page.sidebar }}
    {{ page.content }}
  </div>
</main>

{{ page.bottom_content }}

{{ page.footer }}
