{% do attributes.removeAttribute('id') %}
{% spaceless %}
  <div{{ attributes.addClass(block_class) }}>
    {% if has_container %}
    <div class="{{ block_class }}__content container">
      {% endif %}
      {{ title_prefix }}
      {% if label %}
        <p{{ title_attributes.addClass(block_class ~ '__heading heading') }}>{{ label }}</p>
      {% endif %}
      {{ title_suffix }}
      {% block content %}
      <span class="map-placeholder" data-src="//maps.google.com/maps?q=ст. Старонижестеблиевская, ул. Батарейная 24&amp;output=embed"></span>
      {% if has_container %}
    </div>
    {% endif %}
    {% endblock %}
  </div>
{% endspaceless %}
