{% set class = "footer-copyright" %}
<div class="{{ class }}">
  <p class="{{ class }}__value">© 2006-{{ now|date('Y') }}&nbsp;г. ООО «АНБ»</p>
  <p class="{{ class }}__policy">
    <a href="#" style="margin-right: .5rem;">Специальная оценка труда</a>
    <a href="{{ policy_url }}">Политика конфиденциальности</a>
  </p>
</div>
