{% set class = "footer-contacts" %}
<div class="{{ class }}">
  <div class="{{ class }}__top">
    <div class="{{ class }}__wrap">
      <div class="footer-column">
        <p class="{{ class }}__phone">
          <a href="tel:{{ contacts.phone|replace({'(' : '', '-' : '', ')' : '', ' ' : ''}) }}">{{ contacts.phone }}</a>
        </p>
        <p class="{{ class }}__email">
          <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
        </p>
      </div>

      <span class="button button--flat modal-trigger" data-modal="callbackform"><span>Заказать звонок</span></span>
    </div>

    <div class="{{ class }}__address">
      <p class="{{ class }}__address__sign">Главный офис:</p>
      <address class="{{ class }}__address__value">
        {{ contacts.address }}
      </address>
    </div>
  </div>
</div>
