{% set class = "footer-contacts" %}
<div class="{{ class }}">
  <div class="{{ class }}__top footer-columns">
    <div class="{{ class }}__column">
      <p class="{{ class }}__phone">
        <a href="tel:{{ contacts.phone|replace({'(' : '', '-' : '', ')' : '', ' ' : ''}) }}">{{ contacts.phone }}</a>
      </p>
      <p class="{{ class }}__email">
        <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
      </p>
    </div>

    <div class="{{ class }}__column">
      <span class="button button--flat modal-trigger" data-modal="callbackform">Заказать звонок</span>
    </div>
  </div>
  <div class="{{ class }}__bottom footer-columns">
    <div class="{{ class }}__column">
      <div class="{{ class }}__address">
        <p class="{{ class }}__address__sign">Главный офис:</p>
        <address class="{{ class }}__address__value">
          {{ contacts.address }}
        </address>
      </div>
    </div>

    <div class="{{ class }}__column">
      <ul class="{{ class }}__messengers">
        <li class="{{ class }}__messenger telegram">
          <a target="_blank" href="https://telegram.me/{{ contacts.telegram }}">
            <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.6912 0.465571C19.4468 0.16541 19.0809 0 18.6608 0C18.4322 0 18.1904 0.0484427 17.9417 0.143795L1.01199 6.63649C0.113556 6.98096 -0.00744537 7.49788 0.000336564 7.77551C0.00811849 8.05298 0.158112 8.56224 1.07455 8.85504C1.08004 8.85688 1.08554 8.85841 1.09103 8.8601L3.46528 9.54259L15.0283 3.6076C15.3164 3.45951 15.6695 3.57449 15.8167 3.86407C15.9324 4.09157 15.886 4.35892 15.7212 4.53491L9.29258 11.3984L9.10917 12.1452L14.5864 16.5763C14.5892 16.5784 14.5919 16.5807 14.5948 16.5829C14.9449 16.8557 15.3272 16.9998 15.7006 17C16.4303 17 17.0112 16.4575 17.1804 15.618L19.9543 1.85722C20.0655 1.30504 19.9722 0.810648 19.6912 0.465571Z" fill="#EF0A0F"/><path d="M8.19199 10.9665C8.21533 10.8713 8.26233 10.7805 8.33389 10.704L12.5525 6.20051L4.72428 10.2185L6.50177 15.3257C6.60309 15.6167 6.75385 15.8644 6.94031 16.0583L8.19199 10.9665Z" fill="#EF0A0F"/><path d="M8.0313 16.5311C8.45381 16.5275 8.86901 16.3485 9.23277 16.012L10.5333 14.8089L8.79927 13.4062L8.0313 16.5311Z" fill="#EF0A0F"/></svg>
          </a>
        </li>
        <li class="{{ class }}__messenger whatsapp">
          <a target="_blank" href="https://api.whatsapp.com/send?phone={{ contacts.phone }}">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0025 0H9.9975C4.48375 0 0 4.485 0 10C0 12.1875 0.705 14.215 1.90375 15.8613L0.6575 19.5763L4.50125 18.3475C6.0825 19.395 7.96875 20 10.0025 20C15.5162 20 20 15.5138 20 10C20 4.48625 15.5162 0 10.0025 0ZM15.8212 14.1212C15.58 14.8025 14.6225 15.3675 13.8587 15.5325C13.3362 15.6438 12.6538 15.7325 10.3562 14.78C7.4175 13.5625 5.525 10.5763 5.3775 10.3825C5.23625 10.1888 4.19 8.80125 4.19 7.36625C4.19 5.93125 4.91875 5.2325 5.2125 4.9325C5.45375 4.68625 5.8525 4.57375 6.235 4.57375C6.35875 4.57375 6.47 4.58 6.57 4.585C6.86375 4.5975 7.01125 4.615 7.205 5.07875C7.44625 5.66 8.03375 7.095 8.10375 7.2425C8.175 7.39 8.24625 7.59 8.14625 7.78375C8.0525 7.98375 7.97 8.0725 7.8225 8.2425C7.675 8.4125 7.535 8.5425 7.3875 8.725C7.2525 8.88375 7.1 9.05375 7.27 9.3475C7.44 9.635 8.0275 10.5938 8.8925 11.3637C10.0087 12.3575 10.9137 12.675 11.2375 12.81C11.4788 12.91 11.7662 12.8863 11.9425 12.6988C12.1662 12.4575 12.4425 12.0575 12.7238 11.6638C12.9237 11.3813 13.1763 11.3462 13.4413 11.4462C13.7113 11.54 15.14 12.2463 15.4337 12.3925C15.7275 12.54 15.9213 12.61 15.9925 12.7338C16.0625 12.8575 16.0625 13.4387 15.8212 14.1212Z" fill="#EF0A0F"/></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
