{% set class = "promo" %}
<article class="{{ class }}">
  <figure class="{{ class }}__photo">
    <i class="{{ class }}__icon"></i>
    {{ content.field_promo_photo.0 }}
    <svg width="420" height="69" viewBox="0 0 420 69" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M420 68.9189H0L420 0L420 68.9189Z" fill="white"/></svg>
  </figure>

  <div class="{{ class }}__inner">
    <time class="{{ class }}__published">
      {{ paragraph.created.value|date('d.m.Y') }}&nbsp;г.
    </time>

    <p class="{{ class }}__title">
      {{ content.field_promo_title.0 }}
    </p>

    <p class="{{ class }}__description">
      {{ content.field_promo_description.0 }}
    </p>

    <div class="button-wrap">
      <button class="{{ class }}__button button modal-trigger" data-modal="promoform">Получить скидку</button>
    </div>
  </div>
</article>
