{% set class = "category" %}
<article class="{{ class }}">
  <div class="{{ class }}__top">
    <div class="{{ class }}__preview">
      <h1>{{ content.term_name }}</h1>

      <div class="body">
        {{ content.field_preview_text.0 }}
      </div>
    </div>

    <ul class="{{ class }}__meta">
      <div class="{{ class }}__meta__item {{ class }}__meta__item--prices">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.3559 4.34708L25.356 4.3471C25.7624 4.7546 25.7617 5.41467 25.3539 5.82113L13.3564 17.7872L13.3564 17.7872C13.1611 17.9818 12.8961 18.0912 12.6206 18.0912H12.62L25.3559 4.34708ZM25.3559 4.34708C24.9492 3.93966 24.2892 3.93883 23.8823 4.34536M25.3559 4.34708L23.8823 4.34536M23.8823 4.34536L23.8822 4.34542L12.6526 15.5454L8.64486 11.1926L8.64484 11.1926C8.25504 10.7695 7.59603 10.7421 7.17225 11.1318L7.17222 11.1318C6.74869 11.5216 6.72161 12.181 7.11138 12.6044L7.1114 12.6045L11.8539 17.7549C11.8539 17.7549 11.8539 17.7549 11.8539 17.7549C12.0458 17.9634 12.3142 18.0846 12.5973 18.0908L23.8823 4.34536ZM25.0578 12.4578C24.4821 12.4578 24.0156 12.9243 24.0156 13.5C24.0156 19.2984 19.2984 24.0156 13.5 24.0156C7.70191 24.0156 2.98442 19.2984 2.98442 13.5C2.98442 7.70191 7.70191 2.98442 13.5 2.98442C14.0756 2.98442 14.5422 2.51788 14.5422 1.94224C14.5422 1.36655 14.0756 0.9 13.5 0.9C6.55219 0.9 0.9 6.55219 0.9 13.5C0.9 20.4475 6.55219 26.1 13.5 26.1C20.4475 26.1 26.1 20.4475 26.1 13.5C26.1 12.9244 25.6335 12.4578 25.0578 12.4578Z" fill="#EF0A0F" stroke="#EF0A0F" stroke-width="0.2"/></svg>
        <p>Цены актуальны <br><span>на {{ now|date('U')|format_date('meta') }}</span></p>
      </div>

      <div class="{{ class }}__meta__item {{ class }}__meta__item--contacts">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.09375 10.3086H4.08693C4.42594 5.6875 8.2939 2.03125 13 2.03125C16.724 2.03125 20.0937 4.37684 21.3853 7.868C21.5798 8.39404 22.164 8.66272 22.6902 8.46818C23.2162 8.27353 23.485 7.68935 23.2904 7.16325C22.5206 5.08244 21.1531 3.30185 19.3358 2.01393C17.4767 0.696414 15.2858 0 13 0C10.0702 0 7.31565 1.14095 5.24393 3.21268C3.19922 5.25738 2.06197 7.96727 2.03262 10.8543C0.818848 11.5577 0 12.8702 0 14.3711V17.8242C0 20.0643 1.82244 21.8867 4.0625 21.8867H6.09375C6.65468 21.8867 7.10938 21.432 7.10938 20.8711V11.3242C7.10938 10.7633 6.65468 10.3086 6.09375 10.3086ZM5.07812 19.8555H4.0625C2.94247 19.8555 2.03125 18.9443 2.03125 17.8242V14.3711C2.03125 13.2511 2.94247 12.3398 4.0625 12.3398H5.07812V19.8555Z" fill="#EF0A0F"/><path d="M21.9375 10.3086H19.9062C19.3453 10.3086 18.8906 10.7633 18.8906 11.3242V21.9375C18.8906 22.4975 18.435 22.9531 17.875 22.9531H14.7773V22.9853C14.4309 22.3606 13.765 21.9375 13 21.9375C11.8782 21.9375 10.9688 22.8469 10.9688 23.9688C10.9688 25.0906 11.8782 26 13 26C13.765 26 14.4309 25.5769 14.7773 24.9522V24.9844H17.875C19.555 24.9844 20.9219 23.6175 20.9219 21.9375V21.8867H21.9375C24.1776 21.8867 26 20.0643 26 17.8242V14.3711C26 12.131 24.1776 10.3086 21.9375 10.3086ZM23.9688 17.8242C23.9688 18.9443 23.0575 19.8555 21.9375 19.8555H20.9219V12.3398H21.9375C23.0575 12.3398 23.9688 13.2511 23.9688 14.3711V17.8242Z" fill="#EF0A0F"/></svg>
        <p class="{{ class }}__phone">
          <a href="tel:{{ content.contacts.phone|replace({'(' : '', '-' : '', ')' : '', ' ' : ''}) }}">{{ content.contacts.phone }}</a>
        </p>

        <p class="{{ class }}__email">
          <a href="mailto:{{ content.contacts.email }}">{{ content.contacts.email }}</a>
        </p>
      </div>

      <ul class="{{ class }}__meta__item {{ class }}__meta__item--actions">
        <li class="{{ class }}__action">
          <span class="{{ class }}__button button button--flat modal-trigger" data-modal="deliveryterms">Уточнить условия доставки</span>
        </li>

        <li class="{{ class }}__action">
          <span class="{{ class }}__button button modal-trigger" data-modal="deliverycalculate">Рассчитать доставку</span>
        </li>
      </ul>
    </div>

    <div class="{{ class }}__products">
      {{ drupal_entity('block', 'category_products', check_access=false) }}
    </div>

  {% if is_child_term %}
    <div class="{{ class }}__route">
      <h2>Маршрут</h2>

      <div class="{{ class }}__route__map">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey={{ yandex_api_key }}" wfd-invisible="true"></script>
        <div id="map" data-place="{{ map_place }}"></div>
      </div>

      <div class="{{ class }}__route__form">
        <p class="title">
          <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.569 10.3793H11.8621V6.67241C11.8621 6.26243 11.5299 5.93103 11.1207 5.93103C10.7114 5.93103 10.3793 6.26243 10.3793 6.67241V10.3793H6.67241C6.26317 10.3793 5.93103 10.7107 5.93103 11.1207C5.93103 11.5307 6.26317 11.8621 6.67241 11.8621H10.3793V15.569C10.3793 15.9789 10.7114 16.3103 11.1207 16.3103C11.5299 16.3103 11.8621 15.9789 11.8621 15.569V11.8621H15.569C15.9782 11.8621 16.3103 11.5307 16.3103 11.1207C16.3103 10.7107 15.9782 10.3793 15.569 10.3793Z" fill="#EF0A0F"/><path d="M36.3276 10.3793H27.431C27.0218 10.3793 26.6897 10.7107 26.6897 11.1207C26.6897 11.5307 27.0218 11.8621 27.431 11.8621H36.3276C36.7368 11.8621 37.069 11.5307 37.069 11.1207C37.069 10.7107 36.7368 10.3793 36.3276 10.3793Z" fill="#EF0A0F"/><path d="M0 0V43H43V0H0ZM1.48276 1.48276H20.7586V20.7586H1.48276V1.48276ZM1.48276 41.5172V22.2414H20.7586V41.5172H1.48276ZM41.5172 41.5172H22.2414V22.2414H41.5172V41.5172ZM22.2414 20.7586V1.48276H41.5172V20.7586H22.2414Z" fill="#EF0A0F"/><path d="M27.431 34.8448H36.3276C36.7368 34.8448 37.069 34.5134 37.069 34.1035C37.069 33.6935 36.7368 33.3621 36.3276 33.3621H27.431C27.0218 33.3621 26.6897 33.6935 26.6897 34.1035C26.6897 34.5134 27.0218 34.8448 27.431 34.8448Z" fill="#EF0A0F"/><path d="M27.431 30.3966H36.3276C36.7368 30.3966 37.069 30.0652 37.069 29.6552C37.069 29.2452 36.7368 28.9138 36.3276 28.9138H27.431C27.0218 28.9138 26.6897 29.2452 26.6897 29.6552C26.6897 30.0652 27.0218 30.3966 27.431 30.3966Z" fill="#EF0A0F"/><path d="M15.3518 27.6483C15.0619 27.3584 14.5933 27.3584 14.3035 27.6483L11.1207 30.831L7.93798 27.6483C7.6481 27.3584 7.17954 27.3584 6.88967 27.6483C6.59979 27.9381 6.59979 28.4067 6.88967 28.6966L10.0724 31.8793L6.88967 35.062C6.59979 35.3519 6.59979 35.8205 6.88967 36.1104C7.03423 36.2549 7.22403 36.3276 7.41382 36.3276C7.60361 36.3276 7.79341 36.2549 7.93798 36.1104L11.1207 32.9276L14.3035 36.1104C14.448 36.2549 14.6378 36.3276 14.8276 36.3276C15.0174 36.3276 15.2072 36.2549 15.3518 36.1104C15.6417 35.8205 15.6417 35.3519 15.3518 35.062L12.169 31.8793L15.3518 28.6966C15.6417 28.4067 15.6417 27.9381 15.3518 27.6483Z" fill="#EF0A0F"/></svg>
          Запросить точный <br>расчёт стоимости
        </p>

        {{ drupal_entity('contact_form', 'calcrequest', null, null, false) }}
      </div>
    </div>
  {% endif %}

    <div class="{{ class }}__description body">
      {{ content.description }}
    </div>
  </div>
</article>
